.our-story-container {
  width: 100%;
  background-color: #b4f0e4;
  color: #2d5d4f;
}

.hero-section {
  text-align: center;
  padding: 50px 0;
  background-image: url("/D:\Projects\GUI projct\food management system\src\assets/story.jpg"); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  height: 60vh; 
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.hero-title {
  font-size: 2rem;
  font-weight: bold;
  color: #fff; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  font-family: 'Montserrat', sans-serif;
}

.full-size-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.story-flex-container,
.founder-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
}


.story-image,
.founder-image {
  width: 50%;
  height: auto;
  object-fit: cover;
}

.story-text,
.founder-text {
  width: 50%;
  padding: 0 20px;
  
}

.story-text h2,
.founder-text h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.story-text p,
.founder-text p {
  font-family: 'Montserrat', sans-serif;
  font-size :0.6rem; ;
  line-height: 1.6;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .story-flex-container,
  .founder-flex-container {
    flex-direction: column;
    align-items: center;
  }

  .story-image,
  .founder-image {
    width: 100%;
    margin-bottom: 20px;
  }

  .story-text,
  .founder-text {
    width: 100%;
    padding: 0;
  }
}
