
body {
    background-image: url('D:\Projects\GUI projct\food management system\src\assets/background2.jpg'); 
    background-size: contain; 
    background-position: center; 
    background-repeat: repeat; 
    color: #f1f1f1; 
    font-family: 'Helvetica', Arial, sans-serif;
    
}

.cart {
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
}


.cart-items-title {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: #D4AF37; 
    font-size: max(1vw, 12px);
}


.cart-items-item {
    margin: 10px 0px;
    color: #D4AF37; 
}

.cart-items-item img {
    width: 50px;
}

.cart hr {
    height: 1px;
    background-color: #A9A9A9; 
    border: none;
}


.cart-items-item .cross {
    cursor: pointer;
    color: #D4AF37; 
}


.cart-bottom {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: max(12vw, 20px);
}


.cart-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.cart-total-details {
    display: flex;
    justify-content: space-between;
    color: #E2E2E2; 
}


.cart-total button {
    border: none;
    color: white;
    background-color: #D4AF37; 
    width: max(15vw, 200px);
    padding: 12px 0px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cart-total button:hover {
    background-color: #B78A1A; 
}




@media (max-width: 750px) {
    .cart-bottom {
        flex-direction: column-reverse;
    }
    .cart-promocode {
        justify-content: start;
    }
}


.food-item {
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 20px #000000; 
    transition: 0.3s;
    animation: fadeIn 1s;
    background-color: #2C2C2C; 
}

.food-item-image {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.food-item-info {
    padding: 20px;
    background-color: #1C1C1C; 
    border-radius: 0px 0px 15px 15px;
}

.food-item-name-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.food-item-name-rating p {
    font-size: 22px;
    font-weight: 600;
    color: #D4AF37; 
}

.food-item-name-rating img {
    width: 70px;
}

.food-item-desc {
    color: #D4AF37;
    font-size: 14px;
}

.food-item-price {
    color: #8B0000; 
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0px;
}

.food-item-img-container {
    position: relative;
}

.food-item-img-container .add {
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #D4AF37; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: background-color 0.3s ease;
}

.food-item-img-container .add:hover {
    background-color: #8B0000; 
}

.food-item-counter {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: #333333; 
}

.food-item-counter img {
    width: 30px;
}

.food-item-counter p {
    font-size: 18px;
    color: #D4AF37; 
}
