
.header {
    height: 34vw;
    margin: 30px auto;
    background: url('src/assets/headerr_img.jpg') no-repeat center center;
    background-size: cover;
    background-color: #F5F5DC; 
    position: relative;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
}


.header-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2vw;
    max-width: 45%; 
    bottom: 15%;
    left: 6vw;
    animation: fadeIn 3s ease-out;
    color: #1C1C1C; 
    font-family: 'Lora', serif; 
}


.header-content h2 {
    font-weight: 600; 
    color: #D4AF37; 
    font-size: max(5vw, 30px); 
    line-height: 1.3;
    letter-spacing: 0.5px;
}


.header-content p {
    color: #333; 
    font-size: max(1.2vw, 18px);
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
    line-height: 1.6;
    max-width: 90%;
}


.header-content button {
    border: none;
    color: #fff; 
    font-weight: 500;
    padding: 1.2vw 3vw;
    background-color: #D4AF37; 
    font-size: max(1.5vw, 16px);
    border-radius: 50px;
    transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
    text-transform: uppercase; 
    letter-spacing: 1px;
}


.header-content button:hover {
    background-color: #B88A4D; 
    color: #fff; 
    transform: translateY(-3px);
}


@media (max-width: 1050px) {
    .header-content {
        max-width: 50%;
    }
}

@media (max-width: 750px) {
    .header-content {
        max-width: 70%; 
    }

    .header-content p {
        font-size: 16px; 
    }

    .header-content button {
        padding: 3vw 6vw; 
        font-size: max(2vw, 18px); 
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
