.menu-section {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0px;
     
     background-color:rgb(251, 243, 235); 
    overflow: hidden; 
    position: relative; 
    color: #333333;
   
  }
  .menu-section .menu-text h2, .menu-section .menu-text p {
    color: #333333;
}

  
  .menu-text {
    width: 50%; 
    padding-right: 20px; 
    margin-left: 40px;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
  }
  
  .menu-text h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .menu-text p {
    font-size: 0.8rem;
    line-height: 1.5;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .read-more {
    background-color: transparent;
    border: 2px solid #333333;
    color: #333333;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .read-more:hover {
    background-color: #333333;
    color: white;
    border: 2px solid #333333;
  }
  
  
  .menu-image {
    width: 860px; 
   
  }
  
  .menu-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  
  .scrolled {
     background-color:rgb(251, 243, 235); 
  }
  
  @media (max-width: 768px) {
    .menu-section {
      flex-direction: column;
      align-items: center;
    }
  
    .menu-text {
      width: 100%;
      padding-right: 0;
    }
  
    .menu-image {
      width: 100%;
    }
  }
  