
.food-display {
    margin-top: 50px;
}

.food-display h2 {
    font-size: 2.5rem;; 
    font-weight: 600;
    color: #D4AF37; 
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 40px; 
}


.food-display-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr)); 
    gap: 40px; 
    row-gap: 60px;
    margin-top: 30px;
    padding: 0 10vw; 
}

.food-item {
    background-color: #FFF; 
    border-radius: 12px; 
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1); 
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}


.food-item:hover {
    transform: translateY(-5px); 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}


.food-item img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #E2725B;
    object-fit: cover; 
}


.food-item-info {
    padding: 20px;
    background-color: #FFF; 
}


.food-item-name-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.food-item-name-rating p {
    font-size: 22px;
    font-weight: 500;
    color: #1C1C1C; 
    font-family: 'Lora', serif;
    margin: 0;
}

.food-item-price {
    font-size: 18px;
    color: #D4AF37; 
    font-weight: 500;
}


.food-item-desc {
    font-size: 14px;
    color: #808080; 
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif; 
}


@media (max-width: 1050px) {
    .food-display h2 {
        font-size: 5vw;
    }

    .food-display-list {
        padding: 0 5vw; 
    }
}

@media (max-width: 750px) {
    .food-display h2 {
        font-size: 6vw; 
    }

    .food-display-list {
        padding: 0 2vw; 
    }
}
