.book-table-container {
    text-align: center;
    padding: 50px 20px;
    background-image: url('D:\Projects\GUI projct\food management system\src\assets/background2.jpg'); 
    background-size: contain; 
    background-position: center; 
    background-repeat: repeat; 
    color: #f1f1f1; 
    color: #333;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.book-table-container h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.book-table-container p {
    font-size: 1.2em;
    margin: 10px 0;
    color: white;
}

.contact-info {
    margin: 30px 0;
  
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-info h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #eae2e2;
}

.contact-info a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.contact-info a:hover {
    text-decoration: underline;
}


.map-container {
    margin: 30px 0;
    
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.map-container h3 {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #ffffff;
}

.map-container iframe {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-form input,
.contact-form textarea {
    width: 80%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    background: rgba(255, 255, 255, 0.8);
    color: #333;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #ff6f61;
    box-shadow: 0 0 8px rgba(255, 111, 97, 0.5);
    outline: none;
}

.contact-form textarea {
    height: 150px;
    resize: vertical;
}

.contact-form button {
    padding: 12px 30px;
    background-color: #D4AF37;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
}

.contact-form button:hover {
    background-color: #ff4a3d;
    transform: scale(1.05);
}

.contact-form button:active {
    transform: scale(0.95);
}