.book-table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(251, 243, 235);
  color: #323232;
}

.image-top-container {
  width: 100%;
  height: auto;
  position: relative; 
  overflow: hidden;
}

.top-image {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
}

.title {
  position: absolute;
  top: 50%; 
  justify-content: right;
  transform: translate(-50%, -50%); 
  color: white; 
  font-size: 5rem;
  font-weight: 700;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); 
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin-left: 54%;
  
  

}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 2rem;
}

.form-container {
  width: 50%;
  margin-top: 40px;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
  width: 100%;
  margin: 0.5rem 0;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #FAEBE1;
}

.contact-form button {
  background-color: #1E4B78;
  color: white;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #555;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
}

.map-container {
  width: 100%;
  margin-top: 40px;
}

.info-container {
  margin-top: 2rem;
}

.map-section {
  width: 100%;
  padding: 2rem 0;
  background-color: #eaeaea;
}

.map-container iframe {
  border-radius: 8px;
}

.address-container p {
  font-size: 1rem;
  color: #333;
}

.success-message {
  color: green;
  margin-top: 10px;
  font-weight: bold;
}

.error-message {
  color: red;
  margin-top: 10px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .form-container,
  .right-container {
    width: 100%;
  }

  .map-section {
    flex-direction: column;
    align-items: center;
  }

  .map-container {
    width: 100%;
    height: 250px;
  }

  .info-container {
    width: 100%;
  }

  .title {
    font-size: 2rem;
  }
}